body {
	font-family: Sans-serif;
}

#myBanner {
	background-color:#d3edff;
}

#chatbody {
	margin-top: 180px;
}

/* #chatbox {
	margin-bottom: 50px;
} */

#inputbox {
	background-color: white;
	padding-top: 1rem;
}

.userText {
	color: white;
	background-color: #c9b55b;
	padding: 10px;
	border-radius: 15px;
	max-width: 70%;
}

.botIcon {
	width: 40px;
	height: 40px;
	margin: 10px;
	margin-top: 0;
}

.ouserIcon {
	width: 40px;
	height: 40px;
	margin: 10px;
	margin-top: 0;
}

.botText {
	color: white;
	background-color: #3170d7;
	padding: 10px;
	border-radius: 15px;
	max-width: 70%;
}

.otherText {
	color: white;
	background-color: #59b42e;
	padding: 10px;
	border-radius: 15px;
	max-width: 70%;
}
