body {
	font-family: Sans-serif;
}

#myBanner {
	background-color: #d3edff;
}

#chatbody {
	margin-top: 180px;
}

#pagebody {
	margin-top: 180px;
}

#inputbox {
	background-color: white;
	padding-top: 1rem;
}

.userText {
	color: white;
	background-color: #c9b55b;
	padding: 10px;
	border-radius: 15px;
	max-width: 70%;
}

.userTextH {
	color: white;
	background-color: #bd8b50;
	padding: 10px;
	border-radius: 15px;
	max-width: 70%;
}

.userTextG {
	color: white;
	background-color: #c9b55b;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 20px;
}

.userTextGH {
	color: white;
	background-color: #bd8b50;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 20px;
}

.botIcon {
	width: 40px;
	height: 40px;
	margin: 10px;
	margin-top: 0;
}

.ouserName {
	color: #7b7b7b;
	font-size: small;
	margin-left: 5px;
	margin-bottom: 2px;
}

.userName {
	color: #7b7b7b;
	font-size: small;
	margin-right: 5px;
	margin-bottom: 2px;
}

.ouserIcon {
	width: 40px;
	height: 40px;
	margin: 10px;
	margin-top: 25px;
	border-radius: 8px;
}

.botSIcon {
	width: 40px;
	height: 40px;
	margin: 10px;
	margin-top: 25px;
	border-radius: 20px;
}

.botText {
	color: white;
	background-color: #3170d7;
	padding: 10px;
	border-radius: 15px;
	max-width: 70%;
}

.botTextS {
	color: white;
	background-color: #8442db;
	padding: 10px;
	border-radius: 15px;
}

.botTextH {
	color: white;
	background-color: #3562ad;
	padding: 10px;
	border-radius: 15px;
	max-width: 70%;
}

.botTextSH {
	color: white;
	background-color: #623799;
	padding: 10px;
	border-radius: 15px;
}

.botTextG {
	color: white;
	background-color: #3170d7;
	padding: 10px;
	border-radius: 15px;
	max-width: 70%;
	margin-top: 10px;
}

.botTextGH {
	color: white;
	background-color: #3562ad;
	padding: 10px;
	border-radius: 15px;
	max-width: 70%;
	margin-top: 10px;
}

#loadBot {
	padding: 10px;
}

.otherText {
	color: white;
	background-color: #59b42e;
	padding: 10px;
	border-radius: 15px;
}

.otherTextH {
	color: white;
	background-color: #509530;
	padding: 10px;
	border-radius: 15px;
}

.otherPart {
	max-width: 70%;
}

#hintcard {
	width: auto;
	margin: 10px;
	margin-right: 15px;
	position: fixed;
}

#profilecard {
	max-width: 20%;
	margin: 10px;
	margin-left: 20px;
	position: fixed;
}

footer {
	margin: 80px;
}