<!DOCTYPE html>
<html>
<title>Ferrybot web demo</title>

<head>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='robot.png')}}" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
</head>

<body>
  <div id="topBanner" class="fixed-top">
    <div id="myBanner" class="d-flex justify-content-center">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <img src="{{ url_for('static', filename='robot.png')}}" alt="ferrybot"
            style="width:60px;height:60px;margin-top:20px;margin-bottom:20px;">
        </div>
        <h3 class="flex-grow-1 ms-3" style="margin-bottom:0;">
          Ferrybot: A Conversational AI Agent for wellbeing
        </h3>
      </div>
    </div>
    <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown">
                Chat Mode: <span>{{ mode_description }}</span>
              </a>
              <ul class="dropdown-menu" data-bs-theme="light">
                <li><a class="dropdown-item" href="{{ url_for('check_status') }}">Check in with Inactive Users on Their Wellbeing</a></li>
                <li><a class="dropdown-item" href="{{ url_for('support_train') }}">Train Peer Supporters on Active Member Engagement</a></li>
                <li><a class="dropdown-item" href="{{ url_for('ask_group_advice') }}">Match Newcomers with Suitable Peer Support Groups</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ url_for('schedule') }}">Coordinate Group Availability and Preferences for Upcoming Events</a></li>
                <li><a class="dropdown-item" href="{{ url_for('train_in_group') }}">Train Peer Supporters on Appropriate Language and Behaviour in Group Chats</a></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('contact') }}">Contact us</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div id="chatbody" class="row">
    <div class="col" class="text-center">
      <p class="text-center">chat list</p>
    </div>
    <div class="col-6">
      <div id="chatHistory"></div>
      <div id="divideLine">
        <p class="text-center" style="color:#aaa; margin-bottom:0;">Above are sample message history</p>
        <hr style="margin-top: 0;">
      </div>
      <div id="chatbox">
        <div class="d-flex">
          <img class="botIcon" src="{{ url_for('static', filename='robot.png')}}" alt="ferrybot" />
          <p class="botText">
            <span>{{ start_bot_text }}</span>
          </p>
        </div>
        <div id="userAreply" class="d-flex" style="visibility: hidden;">
          <img class="ouserIcon" src="{{ url_for('static', filename='userA.png')}}" alt="userA" />
          <p class="otherText">
            <span>{{ start_userA_text }}</span>
          </p>
        </div>
        <div id="userBreply" class="d-flex" style="visibility: hidden;">
          <img class="ouserIcon" src="{{ url_for('static', filename='userB.png')}}" alt="userB" />
          <p class="otherText">
            <span>{{ start_userB_text }}</span>
          </p>
        </div>
        <div id="userCreply" class="d-flex" style="visibility: hidden;">
          <img class="ouserIcon" src="{{ url_for('static', filename='userC.png')}}" alt="userB" />
          <p class="otherText">
            <span>{{ start_userC_text }}</span>
          </p>
        </div>
      </div>
      <div id="inputbox" class="d-flex align-items-center sticky-bottom">
        <button class="btn btn-success" type="button" onclick="refreshPage()"
          style="margin-bottom:1rem;margin-right:1rem;"><i class="bi bi-arrow-clockwise"></i></button>

        <div id="userInput" class="input-group mb-3">
          <input id="textInput" type="text" name="input_text" class="form-control" placeholder="Message Ferrybot">
          <button id="btn-send" class="btn btn-primary" type="button" onclick="getBotResponse()"><i
              class="bi bi-send-fill"></i></button>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="hintcard" class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Hints</h5>
          <p class="card-text"><span>{{ hint_text }}</span></p>
          <p class="card-text" style="color: #0a58ca;"><strong>Scroll over the window to see sample message history, then try it out!</strong></p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Next...</h5>
          <p class="card-text"><span>{{ next_text }}</span></p>
          <a href="{{ next_url }}" class="card-link" class="text-end">Try it »</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.min.js"></script>
  <script>
    var c_flag = 1
    setTimeout(() => {
      document.getElementById('userAreply').style.visibility = "visible";
    }, 2000);
    setTimeout(() => {
      document.getElementById('userBreply').style.visibility = "visible";
    }, 3000);
    setTimeout(() => {
      document.getElementById('userCreply').style.visibility = "visible";
    }, 4000);
    (function getChatHistory() {
      $.get("/get_chat_history", {}).done(function (data) {
        var i;
        for (i = 0; i < data.length; i++) {
          // console.log(data[i]);
          if (i % 2 == 0) {
            var botHtml = "<div class='d-flex'><img class='botIcon' src='{{ url_for('static', filename='robot.png')}}' alt='ferrybot' /><p class='botText'><span>" + data[i] + "</span></p></div>";
            $("#chatHistory").append(botHtml);
          }
          else {
            var userHtml = '<div class="d-flex justify-content-end"><p class="userText"><span>' + data[i] + "</span></p></div>";
            $("#chatHistory").append(userHtml);
          }
        }
      });
    }());
    function getBotResponse() {
      var rawText = $("#textInput").val();
      var userHtml = '<div class="d-flex justify-content-end"><p class="userText"><span>' + rawText + "</span></p></div>";
      $("#textInput").val("");
      $("#chatbox").append(userHtml);
      document
        .getElementById("userInput")
        .scrollIntoView({ block: "start", behavior: "smooth" });
      $.get("/get_in_group", { input_text: rawText }).done(function (data) {
        var botHtml = "<div class='d-flex'><img class='botIcon' src='{{ url_for('static', filename='robot.png')}}' alt='ferrybot' /><p class='botText'><span>" + data + "</span></p></div>";
        $("#chatbox").append(botHtml);
        document
          .getElementById("userInput")
          .scrollIntoView({ block: "start", behavior: "smooth" });
        if (c_flag == 1) {
          setTimeout(() => {
            var userBHtml = "<div class='d-flex'><img class='ouserIcon' src='{{ url_for('static', filename='userB.png')}}' alt='userB' /><p class='otherText'>" + "Okay" + "</p></div>";
            $("#chatbox").append(userBHtml);
            document
              .getElementById("userInput")
              .scrollIntoView({ block: "start", behavior: "smooth" });
          }, 3000);
          c_flag = 0;
        }
      });
    }
    $("#textInput").keypress(function (e) {
      if (e.which == 13) {
        getBotResponse();
      }
    });
    function refreshPage() {
      location.reload();
    }
  </script>
</body>

</html>