<!DOCTYPE html>
<html>
<title>Ferrybot Prototype - Home</title>

<head>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/robot.png')}}" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
</head>

<body>
  <div id="topBanner" class="fixed-top">
    <div id="myBanner" class="d-flex justify-content-center">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <img src="{{ url_for('static', filename='img/robot.png')}}" alt="ferrybot"
            style="width:60px;height:60px;margin-top:20px;margin-bottom:20px;">
        </div>
        <h3 class="flex-grow-1 ms-3" style="margin-bottom:0;">
          Ferrybot: A Conversational AI Agent for Wellbeing
        </h3>
      </div>
    </div>
    <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown">
                Chat Modes
              </a>
              <ul class="dropdown-menu" data-bs-theme="light">
                <li><a class="dropdown-item" href="{{ url_for('check_status') }}">Check in with Inactive Users on Their
                    Wellbeing</a></li>

                <li><a class="dropdown-item" href="{{ url_for('ask_group_advice') }}">Match Newcomers with Suitable Peer
                    Support Groups</a></li>
                <li><a class="dropdown-item" href="{{ url_for('schedule') }}">Coordinate Group Availability and
                    Preferences for Upcoming Events</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{{ url_for('support_train') }}">Train Peer Supporters on Active
                    Member Engagement</a></li>
                <li><a class="dropdown-item" href="{{ url_for('simulate_train') }}">Train Peer Supporters on Empathic
                    Care by Simulation Exercise</a></li>
                <li><a class="dropdown-item" href="{{ url_for('train_in_group') }}">Train Peer Supporters on Conflict Management in Group Chats</a></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('contact') }}">Contact us</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div id="pagebody" class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="page-header">
        <h1>
          Wellcome!
        </h1>
      </div>
      <div class="jumbotron">
        <p>
          This demonstration showcases Ferrybot, a prototype intelligent conversational agent designed for peer support
          contexts. In our conception, it interacts with both participants and administrators via instant messaging,
          facilitating administrative tasks and providing real-time, on-demand support and advice to members. Ferrybot
          is powered by state-of-the-art Large Language Models (LLMs), which allow it to understand specific scenarios,
          interpret user input, and respond naturally.
        </p>
        <p>
          In the peer support context, we've designed six scenarios for interacting with Ferrybot. On the demo page,
          you can engage in dynamic conversations with Ferrybot, taking on roles such as a participant or supporter. We
          invite you to explore each scenario and share your feedback. Additionally, if you're interested in
          collaboration opportunities, we'd love to hear from you!
        </p>
        <p>
          click <a href="{{ url_for('contact') }}">here</a> to learn more about us.
        </p>
        <h2>
          Try it out!
        </h2>
        <div class="alert alert-info" role="alert" style="margin: 20px;margin-left: 50px;margin-right: 50px;">
          <strong>FerryBot's name is inspired by the concept of a “ferry boat”, symbolizing its role in bridging
            connections between individuals, likened to isolated islands in the ocean, helping them to stay warm
            connected and supported.</strong>
        </div>
        <p>
          Please note that this is a basic prototype of a chatbot powered by LLMs, designed to demonstrate the Ferrybot
          concept in peer support scenarios. It is not flawless, and we cannot guarantee fully appropriate responses. To
          protect your privacy, we do not record any actions or inputs during interactions. Thank you for your
          understanding!
        </p>
      </div>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne">
              Check in with Inactive Users on Their Wellbeing
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <p>
                In this scenario, Ferrybot acts as a caring intermediary, reaching out to members of the peer support
                group who have been less active recently. The aim is to proactively and privately check on their overall
                mental and physical wellbeing, including aspects such as mood, sleep, diet, and exercise. This proactive
                approach helps ensure that all members feel supported and engaged, even when they are not actively
                participating in group activities.
              </p>
              <a class="btn-link" href="{{ url_for('check_status') }}">Try it out »</a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
              aria-controls="panelsStayOpen-collapseThree">
              Match Newcomers with Suitable Peer Support Groups
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              <p>
                For new members of the Glasgow-based peer support organization, Ferrybot serves as a guide to help them
                find the most appropriate subgroup that matches their specific needs. By gathering information about the
                members' age, gender, interests, and preferred locations, Ferrybot can accurately recommend the best-fit
                group.
              </p>
              <a class="btn-link" href="{{ url_for('ask_group_advice') }}">Try it out »</a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true"
              aria-controls="panelsStayOpen-collapseFour">
              Coordinate Group Availability and Preferences for Upcoming Events
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body">
              <p>
                This scenario involves Ferrybot organizing and coordinating group activities by collecting and analysing
                members' availability and preferences. Ferrybot facilitates discussions within the group to determine
                the best time and type of activity that suits the majority. This coordination helps in planning events
                that are enjoyable and accessible to all, enhancing the group's cohesion and social interaction.
              </p>
              <a class="btn-link" href="{{ url_for('schedule') }}">Try it out »</a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
              aria-controls="panelsStayOpen-collapseTwo">
              Train Peer Supporters on Active Member Engagement
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <p>
                In this scenario, Ferrybot takes on the role of a mentor for peer supporters, providing them with the
                necessary skills and strategies to effectively engage with other group members. The training focuses on
                how to sensitively inquire about members' feelings, health, and personal interests, and how to encourage
                participation in group activities.
              </p>
              <a class="btn-link" href="{{ url_for('support_train') }}">Try it out »</a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="true"
              aria-controls="panelsStayOpen-collapseFive">
              Train Peer Supporters on Empathic Care by Simulation Exercise
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body">
              <p>
                In this scenario, Ferrybot takes on the role of a trainer for peer supporters, instructing them to care someone really upset by simulation exercises. Ferrybot will pretend to be a very frustrated people and needs comfort from the supporter. After the simulation, Ferrybot will provide feedback on the supporter's performance.
              </p>
              <a class="btn-link" href="{{ url_for('simulate_train') }}">Try it out »</a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="true"
              aria-controls="panelsStayOpen-collapseSix">
              Train Peer Supporters on Conflict Management in Group Chats
            </button>
          </h2>
          <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingSix">
            <div class="accordion-body">
              <p>
                In this scenario, Ferrybot acts as a trainer, guiding supporters on effectively managing and promoting positive interactions within a group chat. Using specific dialogue crisis simulations, the supporter learns to mediate conflicts among group members. Ferrybot monitors the supporter performance and offers guidance and feedback once the situation de-escalates. This training enhances communication skills and conflict resolution in group settings, improving the supporter's ability to create a supportive and respectful environment.
              </p>
              <a class="btn-link" href="{{ url_for('train_in_group') }}">Try it out »</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <footer></footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.min.js"></script>
  <script>

  </script>
</body>

</html>